<!DOCTYPE html>
<html>
<head>
  <title>	Book App </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <% include head %>
  
</head>
<body>

	<% include navbar %>

	<div class="container">
		<div class="row">

			<div class="col-sm-12">
				<h1>Welcome to book app</h1>
      </div>

          <!-- Go To Books Section -->
          <div class="col-md-6">
            <a href="/books" >
              <h2>
                <u>
                  Check Books
                </u>
              </h2>
            </a>
          </div>
          <!-- End Of Books Section -->

          <!-- Go To Authors Section -->
          <div class="col-md-6">
            <a href="/authors">
              <h2>
                <u>
                  Check Authors
                </u>
              </h2>
            </a>
          </div>
          <!-- End Of Authors Section -->

		</div>
	</div>
</body>
</html>